@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* reset básico - Seletor asterisco (*) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --color-first: #ffff;
    --color-second: #000000;
    --color-trird: #db2a4e;
    --color-fourth: rgb(12, 7, 59);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* formatações genéricas */

ul,
ol {
    /* tirando os marcadores das listas */
    list-style: none;
}

a {
    /* tirando o underline dos textos */
    text-decoration: none;
    color: var(--color-first);
}

.nav-bar {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin: 0 30px;
}

.nav-menu a:hover {
    color: var(--color-trird);
}

.logo {
    color: var(--color-first);
}


/* botão do contato + botão principal */

.btn {
    background-color: var(--color-trird);
    color: var(--color-first);
    padding: 5px 30px;
    border-radius: 30px;
    font-weight: 700;
    border: 1px solid var(--color-trird);
    transition: 2s;
}

.btn:hover {
    background-color: var(--color-trird);
}

.menu-btn {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 25px;
    right: 30px;
    display: none;
    color: var(--color-first);
}


/* quando ocorrer o scroll da tela, o menu muda a cor de fundo do menu*/

.active-scroll {
    background-color: rgba(5, 5, 12, 0.61);
}


/* header */

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.397)), url(../images/pexels-felix-mittermeier-957002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.header-content {
    margin: 150px 0;
    text-align: center;
    color: var(--color-first);
}

.header-content h2 {
    margin: 50px 0;
    font-size: 8vmin;
}

.header-content h3 {
    margin: 50px 0;
    font-size: 5vmin;
}


/* fim header */


/* inicio cards */

.tour {
    width: 80%;
    margin: 70px auto;
}

.tour-title {
    text-align: center;
    font-size: 4vmin;
    margin-bottom: 40px;
}

.line {
    width: 150px;
    background-color: var(--color-trird);
    height: 4px;
    border-radius: 7px;
    margin: 40px auto auto;
}

.tour-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tour-list-item {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.3);
    padding: 40px 20px;
    border-radius: 7px;
}

.tour-list-item img {
    width: 80%;
    box-shadow: 7px;
    transition: .5s;
    border-radius: 7px;
}

.tour-list-item img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.tour-list-item h3 {
    font-size: 3vmin;
    margin: 40px auto 20px;
}

.tour-list-item p {
    padding: 0 50px;
    margin-bottom: 30px;
    text-align: center;
}


/* fim cards */


/* inicio explore */

.explore {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/pexels-kleber-m-ortiz-4028995.jpg);
    background-position: 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    background-attachment: fixed;
}

.explore-content {
    width: 60%;
    padding: 50px;
    color: var(--color-first);
}

.explore-content h2 {
    font-size: 7vmin;
}

.explore-content .line {
    width: 60%;
    margin: 40px 0;
}

.explore-content p {
    font-weight: 600;
    margin-bottom: 50px;
    line-height: 30px;
}


/* fim explore */


/* inicio eventos */

.eventos {
    width: 100%;
    display: flex;
}

.eventos-content {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 70px;
}

.imagens-eventos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagens-eventos img {
    width: 80%;
    border-radius: 7px;
}

.pics-eventos {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    padding: 40px 20px;
    border-radius: 7px;
}

.event-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.eventos-content h2 {
    font-size: 5vmin;
    margin-bottom: 15px;
}

.eventos-content p {
    font-weight: 600;
    margin-bottom: 70px;
}


/* fim eventos */


/* responsivo - de 0 até 850px*/

@media(max-width: 850px) {
    /* inicio responsivo header */
    .menu-btn {
        display: block;
    }
    .nav-bar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 25px;
        left: 30px;
    }
    .nav-menu {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: var(--color-fourth);
        margin-top: -1100px;
        transition: 2s;
    }
    .mobile-menu {
        margin-top: 0;
    }
    .nav-menu li {
        margin: 30px auto;
    }
    .nav-menu a {
        font-weight: 900;
        text-transform: uppercase;
    }
    /* fim responsivo header */
    /* inicio cards */
    .tour-list {
        flex-direction: column;
    }
    .tour-list-item {
        width: 100%;
        text-align: center;
    }
    .tour-list-item img {
        margin-top: 40px;
    }
    /* fim cards */
    /* incio explore */
    .explore-content {
        width: 100%;
    }
    /* fim explore */
    .eventos {
        width: 80%;
        display: flex;
    }
    .eventos-content {
        width: 80%;
        display: flex;
        align-items: center;
        margin: 0 70px;
    }
}

@media(max-widht:650px) {
    .header-content {
        padding: 0 10px
    }
}